h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#currentScore{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#highscore{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#diffSection{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#diffBoard{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(74, 74, 74);
}
#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}
#startGame_btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}
#restart_btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}
